[2018-08-30 13:40] brix4dayz opened #257 "RFE: YAML PodTemplate support for Agent ConfigMap's"
The Kubernetes plugin not too recently added a feature for providing your own YAML for Agent PodTemplate's instead: https://github.com/jenkinsci/kubernetes-plugin/pull/275.

I was imagining the sync plugin could start supporting this through an additional label on the ConfigMap's, maybe `fileType` whose values would be either `XML`, `YAML`, `yml`, `yaml`, or `xml`. Then `ConfigMapWatcher.podTempla

[2018-08-30 14:05] bparees commented on #257
You can already define an entire slave pod template in a configmap that the sync plugin will turn into a slave pod definition:  https://docs.okd.io/latest/using_images/other_images/jenkins.html#configuring-the-jenkins-kubernetes-plug-in

Does that not cover this?

[2018-08-30 14:32] brix4dayz commented on #257
This would be an enhancement for that, right now that only supports the serialized XML. The kubernetes-plugin PR I linked to allows you define the agent in a YAML pod template which would be preferable since the XML doesn't support things like `valueFrom.fieldRef/resourceFieldRef` for instance.

We could also just define agents dynamically in the pipeline itself like the docs you linked describe f

[2018-08-30 14:44] bparees commented on #257
@brix4dayz I would assume you could simply define your xml as roughly:

 <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
      <name>template1</name>
      <yaml>your inline yaml goes here</yaml>
    </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>

is that not the case?

[2018-08-30 17:27] bparees commented on #257
ok, well that's how i'd expect us to handle this, there may be some formatting issues we need to sort out or something in the sync plugin's processing of the configmap content though.

[2018-08-30 17:44] brix4dayz commented on #257
Got it, thanks! Lemme know if I can test anything else out or if I need reformat it somehow.

But I mean wouldn't the whole thing get a little easier (and easier to read) if we took the XML "middle man" out? Thats where it seems like the Kubernetes plugin itself is heading. The fields of `PodTemplate` that aren't apart of the K8s API (i.e. `instanceCap`, "agent" `label`) could just be keys in the

[2018-08-30 17:47] bparees commented on #257
yes and no.  i'm looking to minimize additional implementation and since we already have logic to "read an xml slave definition and load it into the config" i'd rather just make it work for all possible fields a user might specify ("yaml" being just another field like any other we allow you to specify today) before we go implement an entirely separate codepath.

[2018-08-30 17:49] brix4dayz commented on #257
Yeah its a larger refactoring won't dispute that. Thanks again for the feedback.

[2018-08-30 20:45] andyfeller commented on #253
Fair enough!  Just making sure I understand 🙂 So I’d expect you’d create a Trello card for whatever changes mentioned above you see fit.  Thanks again guys!

[2018-08-30 20:59] gabemontero commented on #257
I was able to modify @brix4dayz 's example to get it to work.

First, for the error that @brix4dayz got in comment https://github.com/openshift/jenkins-sync-plugin/issues/257#issuecomment-417399309

I added a dump of the exception trace, and it turns our that since the PodTemplate class has readResolve as a protected method:

[code]

The xstream XML resolver get tripped up when it tries to leverag

[2018-08-30 20:59] #257 closed

[2018-08-30 21:04] bparees commented on #257
so you have to specify all the first class pod template config fields even though you don't want to use those values (because the real values come from the yaml)?

[2018-08-30 21:16] gabemontero commented on #257
yep

[2018-08-31 13:45] bparees commented on #255
reopening to follow up on @megakoresh's comment in the PR about the type default to "opaque" which would send us through this path instead: https://github.com/gabemontero/jenkins-sync-plugin/blob/816dec56d9f89556a28a93f997a913b229f7c846/src/main/java/io/fabric8/jenkins/openshiftsync/CredentialsUtils.java#L215

which will not handle arbitrary keys, only specific keys.

If no type is defined, the cr

[2018-08-31 14:59] brix4dayz commented on #257
interesting, saw something similar when using `inheritFrom`. I still had to define an `image` for the container even though I wanted to inherit the image and just update resources.

Anyways, we if ever have to use the Downward API or tolerations this will likely be useful as ugly as it is. Still would like to see direct YAML support but I understand its a lot of work for something that just feels/

[2018-09-10 16:51] gabemontero commented on #253
We have been forced to migrate from trello to jira @andyfeller (and the public jira is in progress, but not ready yet).

But I have created DEVEXP-158 in this still private Jira to track.

[2018-09-10 20:09] #255 closed

[2018-09-10 20:39] gabemontero commented on #255
v1.0.28 of the plugin has been initiated

[2018-09-17 12:35] rhnewtron opened #260 "Duplicate Pipeline Run's"
Hello,

I have the following Openshift 3.9 setup:

- 1 CICD Namespace
  - Runs the Jenkins instance (manually provisioned, autoprovisioning disabled in master-config.yaml)
  - Note: There is only ONE Jenkins running in Openshift watching multiple namespaces
- 2 Project Namespaces
   - Petclinic
     - Contains one Build Job (spring-petclinic-source-ngp)
   - Petclinic2
     - Contains one Build Jo

[2018-09-18 20:32] gabemontero commented on #260
OK I was unable to reproduce this.  I did:
0) 3.9 openshift. v1.0.28 sync plugin
1) only 1 jenkins in its own namespace monitoring all the namespaces/projects with
2) app projects with the same prefix for the name (1 of the projects has just the prefix .. even tried that with more project with different suffixes for the names
3) created pipieline bc's with the same prefix for a name, with a small

[2018-09-19 06:02] rhnewtron commented on #260
I restarted the Jenkins Server and now only one build is triggered. So this may be a very strange issue. However I think we can close it, as the restart fixed it.

[2018-09-19 06:02] #260 closed

[2018-09-25 15:02] andyfeller opened #262 "NullPointerException with arbitraryKeyValueTextCredential() potentially with Base64 decoding during SecretWatcher run"
Picking up the most recent release of openshift-sync, we immediately ran into an issue where the new arbitrary secret logic throws NPE, however it's difficult to tell exactly where and why this is a problem as we have multiple projects being synced both with opaque secrets.

**openshift-sync version**: 1.0.28

**Stack trace:**
[code]

[2018-09-25 15:15] gabemontero commented on #262
thanks @andyfeller - I'll sort it out

I suppose you all have a ton of secrets and your not sure which one triggered this?

[2018-09-25 16:59] andyfeller commented on #262
Yeah, we have 2 projects each with opaque secrets.  I **think** it maybe one that looks something like this:
[code]
But I can't be sure because there isn't any logging I can turn on for this 😞

[2018-09-25 18:08] gabemontero commented on #262
Actually I'm thinking it could be blank/null data from an arbitrary point of view or one of the specific keys.  The existing impl is naive on that front.

Should have a PR relatively soon.  If trying out a pre-release version of the change is something you are willing to take on @andyfeller please let me know.

[2018-09-25 19:39] #262 closed

[2018-09-25 20:55] gabemontero commented on #262
v1.0.29 of the sync plugin has been initiated with the JUC

[2018-09-26 01:39] andyfeller commented on #262
Sorry for the delayed response @gabemontero.  I’d be happy to try out a pre-release!  Looking at the stacktrace, the only thing I can theorize is that the JSON transformation has something to do with it as all the secrets I’ve seen are not empty

[2018-09-26 02:57] gabemontero commented on #262
No worries @andyfeller , but given the safety of the change, I went ahead and cut a new release, 1.0.29, which is now available at the update center.

And yep, if you see the PR, an issue with the JSON transformation was core to my thinking.

Give the new version a try at your convenience, and if it uncovers something additional that we can account for, we'll cut a new version, but at the least, I

[2018-09-26 02:58] gabemontero commented on #262
Oh, I can see about delaying an update to the openshift jenkins image, to pull in the new version of the plugin, for a bit if that gives you time to try it out.

[2018-09-26 11:28] andyfeller commented on #262
thanks for the quick turnaround again!  I'm upgrading our plugin usage and seeing if it addresses the issue; will get back with you shortly.

[2018-10-05 09:26] dharmit opened #265 "OpenShift and Jenkins seem out of sync for build status"
We're seeing number of builds for which Jenkins interface shows that builds are over. But when we look at `oc get builds` output, these builds show running.

Here's example output:
[code]

Here's the screenshot from Jenkins dashboard saying that build has already finished successfully. In fact all the builds in above output have actually finished on Jenkins. But they're showing as `Running` in `oc

[2018-10-05 15:03] gabemontero commented on #265
hey @dharmit

Just tried a few or our sample pipelines with v1.0.29 of the sync plugin (our latest version as of this writing) and am not seeing this issue.

So to try to distinguish between what I am seeing and what you are seeing, please provide:
- the version of the openshift cluster being used
- the version of the sync plugin being used
- tag/version of the openshift jenkins image, if you are

[2018-10-09 06:10] jvinod1985 opened #267 "Opensshift Jenkins sync plugin triggering two build from single build config in openshift cluster."
I am facing strange issue. When My build run in Opneshift cluster ( on internal jenkins inside openshift cluster). It should trigger on build in external jenkins as per configuration. But it is triggering two build in
 external jenkins. See the screen shot. Two build are trigger and the triggering cause is same.
Does anyone have idea about such issue related to Jenkins OpenShift sync plugin.

![op

[2018-10-09 06:14] valdestrijus commented on #265
Hello, I am getting the same, but it is not replicated each time I run pipeline, it happens from time to time. Can not get pattern.

Jenkins image version: registry.access.redhat.com/openshift3/jenkins-2-rhel7:v3.9.30
Jenkins version: Jenkins ver. 2.89.4
Openshift cluster version:
OpenShift Master:
v3.7.64
Kubernetes Master:
v1.7.6+a08f5eeb62

Openshift-sync plugin version: 1.0.24
OpenShift Client

[2018-10-09 13:42] bparees commented on #267
What is supposed to trigger the build on your external jenkins?

[2018-10-09 14:04] jvinod1985 commented on #267
Another job on the jenkins inside the openshift cluster triggers my job in external jenkins

[2018-10-09 14:13] gabemontero commented on #267
How *exactly* does the internal jenkins job trigger the external jenkins job @jvinod1985 ?

Among other things, we have some [restrictions](https://github.com/openshift/jenkins-sync-plugin/#restrictions) on how build can be triggered

[2018-10-09 18:52] gabemontero commented on #265
OK @valdestrijus @dharmit

Since it is intermittent, this will get trickier.

Thoughts on the latest:
- get me the yaml for the openshift builds corresponding to the pipeline job runs the next time this occurs ... the presence or lack of presence of certain data could provide clues to us
- Nothing from the logs provided by either @valdestrijus or @dharmit provide any clues

In the future, if you c

[2018-10-15 20:17] jpmeyer70 opened #268 "Add Build periodically functionality"
Hello!  We have run into a couple of cases where it would be great to have Jenkins kick of automated testing pipelines on a scheduled basis.  We've had to manually modify the jenkins jobs after they have been created to fill in the "Build periodically" Schedule.  Is it possible to add this into the sync so this can be filled in automatically based upon pipeline.yaml settings?

[2018-10-17 17:03] #268 closed

[2018-11-08 14:39] seldon007 opened #271 "adding option to specify custom credential name"
HI

We got a lot of existing pipelines with Jenkins Credentials ID's baked into them and they do not match the predefined name: namespace-secretname
Maybe add the option for custom names e.g. by annotation or label on the secret?

[2018-11-08 18:57] andyfeller opened #272 ""Run of workflow job ___ unexpectedly not saved to disk" and multiple jobs triggered"
This morning, we came in and kicked of a Jenkins workflow job via the Jenkins UI only to find multiple jobs created upwards of 15 them!  At the start of triaging, we assumed this was something up with core Jenkins, which is 2.89.4 for us, however we were seeing some weird warnings out of openshift-sync plugin, which is 1.0.18 for us, and wonder whether there is some bad state interplay going on in

[2018-11-12 17:49] gabemontero commented on #271
Hey @seldon007

An annotation to customize the name sounds reasonable.  The annotation name should start with `jenkins.openshift.io/`.  And an update to the README to announce the feature.  It would be an update to https://github.com/openshift/jenkins-sync-plugin/blob/master/src/main/java/io/fabric8/jenkins/openshiftsync/CredentialsUtils.java#L198-L200 to factor in the annotation into the name gen

[2018-11-13 15:34] andyfeller commented on #272
Thanks for the follow up @gabemontero!  I think this was more of a consequence of upgrading our OpenShift cluster from 3.9 to 3.11 over multiple days, however it's difficult to point a definitive finger on it.  If that is the case, then this is something I expect others to see at some point.

[2018-11-13 16:25] gabemontero commented on #272
@andyfeller thanks for the context ... a cluster upgrade seems unrelated to me at first blush, unless a Jenkins upgrade coincided with it.

Please remind me how you guys are running Jenkins ?  using our image inside an openshift pod (where you manually upgraded the plugin and/or image? ... or running Jenkins outside of openshift where you've manually have installed the sync plugin

[2018-11-13 17:56] gabemontero commented on #272
@andyfeller ... forgot to mention *IF* you are running jenkins in our image, then yes a cluster upgrade would most likely result in an upgrade of the jenkins server.

In testing my change in https://github.com/openshift/jenkins-sync-plugin/pull/273 I am seeing some intermittent delays in the job being retrievable from Jenkins.

So if your jenkins did get upgraded, per my earlier question regarding

[2018-11-13 18:11] gabemontero commented on #272
In fact ... I believe I have intermittently been able to reproduce a form of what you reported in you description ... once the job appears accessible in Jenkins, if I submitted multiple jobs as a result, they'll run one after other.

You can let me know about the jenkins in an openshift pod here @andyfeller if you like, but I'll continue the details of what I'm finding in https://github.com/opensh

[2018-11-14 09:09] seldon007 commented on #271
I not really a developer but I will have a look at it and see if it is above my paygrade :-)

[2018-11-14 19:32] #272 closed

[2018-11-16 15:01] andyfeller commented on #272
Sorry for the delay in following up @gabemontero ; been a longer week than most.  The Jenkins instance was not being upgraded with the OpenShift 3.9->3.11 upgrade.  We have been unable to replicate this post 3.11 upgrade nor do I have access to the cluster logs to see what was happening on the OpenShift or Kubernetes side during the upgrade that could have affected the applications.  I'm queuing u

[2018-11-24 15:31] gabemontero commented on #267
Most likely this is a duplicate of https://github.com/openshift/jenkins-sync-plugin/issues/272

We were able to get sufficient details while working that issue to get a fix compiled.

v1.0.30 of this plugin has the fix.  You can pull that version of the bug manually from the jenkins update center and install it, or wait for the openshift jenkins image to get updated with it.

[2018-11-24 15:31] #267 closed

[2018-11-28 17:02] gabemontero opened #274 "jenkins flake in e2e-gcp-builds"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/21558/pull-ci-openshift-origin-master-e2e-gcp-builds/162#openshift-tests-featurebuildsslow-openshift-pipeline-build-sync-plugin-tests-using-the-ephemeral-template-suiteopenshift

[2018-12-06 17:31] gabemontero commented on #274
Could be related to https://github.com/openshift/jenkins-sync-plugin/pull/275

[2018-12-06 21:08] gabemontero commented on #274
After some more digging I'm less inclined to think it is related to https://github.com/openshift/jenkins-sync-plugin/pull/275

Reading some of the more recent jenkins jiras (earlier this year) related to CpsFlowExecution.java, it looks like storage can be swapped out and things of this nature.

Also, that `Creating placeholder flownodes because failed loading originals.` was a bit of a clue.  Find

[2018-12-06 21:10] gabemontero commented on #274
Tracking with https://bugzilla.redhat.com/show_bug.cgi?id=1657027

[2018-12-06 21:10] #274 closed

[2018-12-30 20:55] sabre1041 opened #278 "PodTemplates for tagged ImageStreams not added"
ImageStreams with the label `role=jenkins-slave` are not being added properly when tags are utilized.

Logic appears to only check for key/value pair on annotation whereas the key/value appears only on the ImageStreamTag.

[2018-12-30 23:05] bparees commented on #278
@sabre1041 can you provide the yaml for your imagestream?

[2018-12-30 23:09] bparees commented on #278
the logic to check ISes is here:
https://github.com/openshift/jenkins-sync-plugin/blob/master/src/main/java/io/fabric8/jenkins/openshiftsync/ImageStreamWatcher.java#L237

along with the logic to check for annotations:
https://github.com/openshift/jenkins-sync-plugin/blob/master/src/main/java/io/fabric8/jenkins/openshiftsync/ImageStreamWatcher.java#L252-L267

so i'm surprised one would be working b

[2019-01-02 01:49] gabemontero commented on #278
Yeah when we implemented this feature, we encountered errors like this while trying to use labels with imagestreamtags:

[code]

Where as it worked with imagestreams:

[code]

And annotations worked with imagestreamtags:

[code]

So per the links @bparees noted, we check the labels on imagestreams, and annotations on imagestreamtags.

The difference is noted in the doc at https://docs.okd.io/lates

[2019-01-06 06:10] sabre1041 commented on #278
@bparees @gabemontero Labels applied to ImageStreams are propagated to ImageStreamTags. So for example if an existing image only contains tags other than `latest`, Jenkins will never be configured to resolve the proper tag. In addition, in a similar vein, if a custom image is built that utilizes a tag other than latest, it also will not be resolved.

There should still be a check for labels applie

[2019-02-13 01:57] bstinsonmhk opened #280 "Scan for PodTemplates from another namespace without syncing other objects"
Say I have a team that controls a set of Jenkins slave images in one namespace, and wants to provide them for folks to use in jenkins instances in their own namespaces. We probably wouldn't want to directly point the plugin from all of those instances to sync the central agent namespace.

Would it make sense to add a config option specifying a namespace to scan only for slave images, and perhaps t

[2019-02-20 15:15] waveywaves commented on #271
@gabemontero @seldon007 I would like to work on this issue if that is alright. Anything I need to keep in mind before I start ?

[2019-02-20 15:31] gabemontero commented on #271
hey @waveywaves - PRs are certainly welcome

I can not think of any other input besides what I provided in https://github.com/openshift/jenkins-sync-plugin/issues/271#issuecomment-437971158

Start there and then we can iterator once you have the PR up.

[2019-02-27 17:49] disposab1e opened #282 "JenkinsPipeline triggering Two Builds in Jenkins"
Jenkins: 2.138.1
Jenkins Sync Plugin: 1.0.31
OpenShift: 3.11.82

After installation of an JenkinsPipeline Build Config via APB in OpenShift 2 builds in Jenkins are triggered in 95%.

This was the same with OpenShift 3.9.40 and it never disappeared including the 1.0.30 release of this plugin.

In OpenShift only one Build is to see, but in Jenkins 95% of all cases 2 builds are triggered. It was a li

[2019-02-27 19:31] gabemontero commented on #282
@disposab1e
From the namespace running the builds
- `oc get bc -o yaml`
- `oc get builds -o yaml`
From the namespace running jenkins
- `oc logs <jenkins pod name>`

[2019-02-27 20:17] disposab1e commented on #282
I send it from one build....

I cannot send everything from the logs... I try to collect what might be useful. I you want I can grep for special infos.

oc get bc schemas -o yaml

[code]

oc get build schemas-1 -o yaml

[code]

oc logs jenkins-1-pnjn8

INFO: Waiting for Pod to be scheduled (0/100): slave-oraclejdk-7dx5s
Feb 27, 2019 3:00:17 PM io.fabric8.jenkins.openshiftsync.BuildWatcher addEvent

[2019-02-28 10:58] waveywaves commented on #271
@gabemontero I am working on this. Please do assign this to me.

[2019-02-28 14:46] gabemontero commented on #271
good news @waveywaves - unfortunately, the github permissions are set such that I cannot set assignees to anyone outside the openshift org

but don't worry, we'll let you have at it, and your name of course will be on the PR and commit

[2019-03-01 05:58] disposab1e opened #284 "Not honored: <foldersEnabled>false</foldersEnabled>"
With this configuration in place all Builds still have an folder name in Jenkins.

<foldersEnabled>false</foldersEnabled>

OpenShift 3.11.82
Jenkins: 2.138.4
OpenShift Sync Plugin:  1.0.31

[2019-03-01 06:01] disposab1e opened #285 "Old Version number in Configuration File"
In File:

io.fabric8.jenkins.openshiftsync.GlobalPluginConfiguration.xml

old version attribute...

<io.fabric8.jenkins.openshiftsync.GlobalPluginConfiguration plugin="openshift-sync@1.0.29">

OpenShift 3.11.82
Jenkins: 2.138.4
OpenShift Sync Plugin:  1.0.31

[2019-03-01 06:04] disposab1e commented on #265
Still the same hier...

[2019-03-01 06:04] disposab1e commented on #282
Perhaps something to do with: #284  ?

[2019-03-01 08:37] disposab1e commented on #285
I think this was my mistake .. close it.

[2019-03-01 08:37] #285 closed

[2019-03-06 08:31] clemensutschig opened #286 "NPE on bluerun.getNodes().iterator() during upsert build - in jenkins master version=v3.11.82"
see https://github.com/opendevstack/ods-core/issues/86

on openshift 3.11 - latest 3.11 jenkins master & slaves

  | at io.fabric8.jenkins.openshiftsync.BuildSyncRunListener.upsertBuild(BuildSyncRunListener.java:336)
  | at io.fabric8.jenkins.openshiftsync.BuildSyncRunListener.pollRun(BuildSyncRunListener.java:226)
  | at io.fabric8.jenkins.openshiftsync.BuildSyncRunListener.onFinalized(BuildSyncR

[2019-03-06 08:36] clemensutschig commented on #286
BlueOcean 1.10.2
· Core 2.150.2
· 7b720c0
· 16th January 2019 02:03 AM

also shows "Favoriting Error Organization undefined not found"

Jenkins ver. 2.150.2

[2019-03-06 19:17] #271 closed

[2019-03-06 19:31] #286 closed

[2019-03-12 18:16] gabemontero commented on #284
I was able to reproduce this locally ... investigating

[2019-03-12 19:05] gabemontero commented on #284
Sorry - false alarm.  It is working for me.  I just got confused by the job name.  Which is perhaps what you mean in your description @disposab1e

So even with folders disabled, the job name will still be `<namesapce>/<build config name>` ... but a jenkins folder will not be created.  It will be a top level job item.

We still include the namespace/project in the name to handle a jenkins instance

[2019-03-12 19:05] #284 closed

[2019-03-12 19:18] gabemontero commented on #282
hey @disposab1e

I don't think this is directly related to whatever you are seeing with  https://github.com/openshift/jenkins-sync-plugin/issues/284 (as I just noted there, I'm not seeing any problems with the folder disable/enable config field).

That said, the log message `INFO: triggering job run for previously skipped build schemas-1` is telling in that it appears multiple times as you say.

T

[2019-03-12 19:48] gabemontero commented on #282
Have PR https://github.com/openshift/jenkins-sync-plugin/pull/291 up

[sync-1.zip](https://github.com/openshift/jenkins-sync-plugin/files/2958525/sync-1.zip)
Here is a zip of my locally built hpi file in case you can test locally @disposab1e

[2019-03-13 18:19] #282 closed

[2019-03-13 18:30] gabemontero commented on #282
I've initiated v1.0.34 of the plugin and it includes the fix noted above

[2019-03-15 10:03] jomeier opened #293 "Secrets username, password (like image source secrets) require! Annotations. Else: NPE"
Hi,

jenkins-sync-plugin 1.0.34 require this annotation to be set:
[code]

Without that I get this NPE:

[code]

[2019-03-15 15:06] waveywaves commented on #293
@jomeier Thank you for opening up this issue. Has this issue surfaced only after updating the jenkins sync plugin ?

cc @gabemontero
wrt https://github.com/openshift/jenkins-sync-plugin/pull/283

[2019-03-15 18:11] jomeier commented on #293
@waveywaves
No. I compiled the openshift-jenkins Docker Image with the newest version of the Plugin.

[2019-03-17 23:55] gabemontero commented on #293
Hmm ... the second NPE's line number

[code]

does not line up with the latest version of the code, which would be v1.0.34.  That line, https://github.com/openshift/jenkins-sync-plugin/blob/61fe04bb8047fecdbce35e3c8db5562af1c523c2/src/main/java/io/fabric8/jenkins/openshiftsync/CredentialsUtils.java#L62

Now, the prior version of that file, before my fix, which would have been v1.0.33, does point t

[2019-03-19 02:44] jomeier commented on #293
@gabemontero
Hi Gabe, I made further tests and found out that maby there was a problem with my custom build of the OpenShift Jenkins Image. Somehow an older version of the OpenShift Sync Plugin was copied into the Plugin directory of Jenkins and mixed up with version 1.0.34. We removed that.

Now it seems to work fine.  Thank you for assisting me!

Greetz,

Josef

[2019-03-19 03:01] gabemontero commented on #293
ok good news @jomeier thanks for the update

[2019-03-19 03:06] jomeier commented on #293
@gabemontero
Sorry for bothering you again but...

[code]

With the annotation which changes the name I dont get this.

There still seems to be a problem....

[2019-03-19 04:06] disposab1e commented on #284
@gabemontero Makes sense! Thanks for clarification on this!

[2019-03-19 04:08] disposab1e commented on #282
@gabemontero Sorry for late reaction! Was out for some days. I just updated my jenkins and give the new version a try. Will update this issue with my results soon.

[2019-03-19 06:21] disposab1e commented on #282
@gabemontero Looks good and it seems the concurrency issue is resolved so far. Great work! I will continue to have an eye on it and will inform you if something changes. Well done!

[2019-03-19 11:57] gabemontero commented on #282
Great thanks for the feedback @disposab1e.

[2019-03-19 14:22] gabemontero commented on #293
An NPE at that line actually speaks to the secret text, not the secret name that is driven by the annotation.  I suspect that there is another variable in play, but can't say for sure, in addition to what you observed.

See https://github.com/openshift/jenkins-sync-plugin/blob/61fe04bb8047fecdbce35e3c8db5562af1c523c2/src/main/java/io/fabric8/jenkins/openshiftsync/CredentialsUtils.java#L327

An NPE

[2019-03-26 19:13] gabemontero commented on #280
Actually housing shared resources in a common namespace is something we promote @bstinsonmhk ... even with the jenkins per namespace scenario with sync plugin.

Scanning the openshift namespace by default was discussed when introducing pod templates from imagestream/imagesstreamtags but was rejected.  Haven't seen enough cause yet to change from that.

thanks

[2019-03-26 19:13] #280 closed

[2019-03-26 19:29] gabemontero commented on #265
it is possible that the https://github.com/openshift/jenkins-sync-plugin/commit/1d2f5aa169bcfae26aaea456f9f8795e640586c8 fix that addressed multiple builds getting invoked could also have some bearing wrt synching build status

v1.0.34 has that change

Closing this out then.  Otherwise, a repro with the debug I asked for in https://github.com/openshift/jenkins-sync-plugin/issues/265#issuecomment-4

[2019-03-26 19:29] #265 closed

[2019-03-26 20:12] gabemontero commented on #278
Finally got back to this ... PR up

[2019-03-26 20:13] gabemontero commented on #278
Will tweak docs in separate PR

[2019-03-26 21:49] #278 closed

[2019-03-26 23:05] gabemontero commented on #278
v1.0.35 of the plugin has been initiated with this fix

[2019-03-28 19:03] gabemontero commented on #278
hey @sabre1041 - so v1.0.35 of the sync plugin is up at the jenkins update center at https://updates.jenkins-ci.org/download/plugins/openshift-sync/

Given where we are in the 4.0/4.1 dev cycle, and the available workaround, I'm inclined to wait to pull in this change until later to afford it more evaluation.  We should get a fair amount from our users in legacy jenkins shops that pull that latest

[2019-04-09 09:35] nilsding commented on #293
Hello everyone,

I just ran into the same (or a similar, but maybe related) issue and looked into the `CredentialsUtils.java` a bit more closely.

From my understanding, the method `newSecretTextCredential(String secretName, String secretText)` expects `secretText` to be a base64 encoded string.  However the method `arbitraryKeyValueTextCredential(Map<String, String> data, String secretName)` does

[2019-04-10 15:52] lmcoy opened #300 "BuildConfigs recreated when TemplateInstance with multiple BuildConfigs is deleted"
We use a TemplateInstance to create multiple objects in OpenShift. It contains two BuildConfigs with pipelines. When I delete the TemplateInstance, the BuildConfigs are deleted but Jenkins recreates the second BuildConfig immediately (but not the first one).

When I use 3 pipelines, either the 2. & 3. BuildConfigs are recreated or only the 3.

When I delete the pipelines manually, they are not rec

[2019-04-11 16:55] waveywaves commented on #293
@nilsding I was able to reproduce this in v1.0.34 where the annotation feature for changing the secret name has been implemented as well as in v1.0.32 where it wasn't. To ensure that you don't get the NPE you have to set it in the following way.

1> Create a file with you secrets.
[code]
2> Create an Openshift Secret using the following command
[code]
3> Label the secret
[code]
Your secret should

[2019-04-15 08:53] waveywaves opened #301 "Duplicate secret with custom name is created after providing the annotation or the same"
Custom names are only applied if the annotation for overriding the secret name `jenkins.openshift.io/secret.name` is given before the custom name is labelled with `credential.sync.jenkins.openshift.io=true` else the secret name is not updated.

**Reproducing the behaviour**

1> Create the secret and label it
[code]
![Screenshot from 2019-04-15 15-08-35](https://user-images.githubusercontent.com/11

[2019-04-17 12:32] isouza-daitan opened #302 "Manual build does not start"
Our manual builds started to intermittently fail to start after upgrading openshift-sync to 1.0.31. When the Build button is clicked, Jenkins goes to the main build interface and the job is not started.

I did some investigation and it appears to be caused by the changes in https://github.com/jenkinsci/openshift-sync-plugin/commit/50ea0b75c1fc44197b3599a766a3e92eb0d40861.

We have a proxy server t

[2019-04-17 16:53] gabemontero commented on #300
thanks for the precise reproducer @lmcoy

I was able to see the same thing, in that when deleting the templateinstance, only the first build config goes away in the namespace itself.

i.e. `oc get bc` returns the second and third bc still.

What  is interesting as well is the `template.openshift.io/template-instance-owner` label exists on all three bc's when I instantiate the template instance.

B

[2019-04-17 16:53] #300 closed

[2019-04-17 17:56] gabemontero commented on #302
hi @isouza-daitan  .... thanks for the research into our commits wrt abort exception you see.  It expedited things.

Yeah, the commit you noted was a nasty, intermittent problem we tackled in Nov 2018.  If you are interested in some of the gory details, follow some of the contents in the original PR in https://github.com/openshift/jenkins-sync-plugin ... like https://github.com/openshift/jenkins-s

[2019-04-17 17:58] gabemontero commented on #293
bump @waveywaves .... how far along are you with addressing the encoding issue (since the annotation has been proven to be a unrelated thing along the same code path) ?

[2019-04-17 17:59] gabemontero commented on #301
were you planning to circle back to fixing this in the relative near term @waveywaves , or do you need to to take it on?

good investigation by the way :-)

[2019-04-17 18:20] isouza-daitan commented on #302
@gabemontero thanks for the detailed response.

[2019-04-22 21:58] #302 closed

[2019-04-24 13:43] waveywaves commented on #293
So I have been testing this out with the following two secrets. On one hand we have the secret which works.
[code]
![Screenshot from 2019-04-24 19-11-10](https://user-images.githubusercontent.com/11972233/56663986-e5690900-66c4-11e9-800c-69ca87ff4092.png)

^ Openshift secret testsecretwhichworks gets populated.

[2019-04-30 19:26] #293 closed

[2019-04-30 19:42] gabemontero commented on #293
v1.0.36 of the sync plugin has bee initiated at the jenkins update center

it contains the fix from @waveywaves via https://github.com/openshift/jenkins-sync-plugin/pull/304

@nilsding @jomeier if either of you can try v1.0.36 in the near term and let us know what you see that will be great

we are still weighing when to update the openshift/jenkins images given our proximity to 4.0/4.1 GA

[2019-05-02 13:05] mcwienczek commented on #190
Is it fixed yet? I cannot seem to find any documentation how can you use BuildConfig object to deploy multibranch job into Jenkins.

[2019-05-02 13:31] gabemontero commented on #190
nope still unsupported @mcwienczek

@pradeepto @sthaha @waveywaves fyi

[2019-05-06 09:24] waveywaves commented on #190
@gabemontero Would like to start working on a POC regarding this. Using an annotation makes more sense than creating an entirely new plugin. eg: `jenkins.openshift.io/enable-multibranch-sync`

Once this annotation is set to `true`, we would have to check if other branches exist and we should be able to mention which branches we want to sync, by providing the names of the branches in a comma delimi

[2019-05-06 15:00] gabemontero commented on #190
@waveywaves ... first, to try to summarize the prior discourse here in this issue.....

I think it boils do to there are elements in the fabric fork of this plugin at https://github.com/fabric8io/jenkins-sync-plugin/tree/job-to-bc that support the multi branch project type, as well as any correlating folder types that go with it.

Is that the gist of what you are referring to?

I certainly agree a

[2019-05-13 07:06] etoews opened #307 "Kubernetes Pod Template is randomly removed"
We have an issue where our custom agent Kubernetes Pod Template is randomly removed from Jenkins on OCP 3.9. The Kubernetes Pod Template using the ConfigMap style in [Configuring the Jenkins Kubernetes Plug-in](https://docs.openshift.com/container-platform/3.9/using_images/other_images/jenkins.html#configuring-the-jenkins-kubernetes-plug-in)

One hour the template can be found in the Configure scr

[2019-05-13 11:12] waveywaves commented on #190
Looking at https://github.com/openshift/jenkins-sync-plugin/blob/master/src/main/java/io/fabric8/jenkins/openshiftsync/BuildConfigToJobMapper.java#L178-L195 Multibranch jobs are supported.

This has been extended in the fabric8io fork with https://github.com/fabric8io/jenkins-sync-plugin/blob/job-to-bc/src/main/java/io/fabric8/jenkins/openshiftsync/BuildConfigToJobMapper.java#L134-L139 and https:/

[2019-05-13 19:49] gabemontero commented on #307
Thanks for the thorough details @etoews

First, the way the k8s plugins API work, we cannot just replace an item from the k8s plugin pod template list.  That is why you see the remove/add pattern.

As to the solitary remove, yeah, double-checking the code, that will only happen on a delete of the CM or removal of the label.  Some oddities to check for
- are you sure did not have imagestreams that

[2019-05-13 21:28] etoews commented on #307
We _definitely_ have ImageStreams named foo-ui (but in projects other than cicd where this agent runs).

Should that matter?

According to [Configuring the Jenkins Kubernetes Plug-in](https://docs.openshift.com/container-platform/3.9/using_images/other_images/jenkins.html#configuring-the-jenkins-kubernetes-plug-in)

So my understanding is that only the label matters and not the name but please cor

[2019-05-13 22:07] gabemontero commented on #307
On Mon, May 13, 2019 at 5:28 PM Everett Toews <notifications@github.com>
wrote:

No it shouldn't ... I'm potentially zeroing in on the possible bug, that
I've started to realize today.  If you do in fact have an ImageStream named
`foo-ui`,
and it doesn't have the label, and we get an modify event for it, that
could be the cause.  Regardless of namespace.

I think I have enough now to start working

[2019-05-13 22:52] etoews commented on #307
@gabemontero Thanks a lot for the quick reply and info.

I've opened the support case and asked for it to be assigned to you.

Looking at https://github.com/openshift/jenkins-sync-plugin/issues/236 again, this may be the same issue as the name of the Kubernetes Pod Template `<name>centos7-builder</name>` is the same as the ImageStream `name: centos7-builder`.

[2019-05-13 23:20] etoews commented on #307
Huzzah! I've got the smoking gun.

I was watching the build logs of the BuildConfig that pushes to an ImageStream named foo-ui (in a separate project) while also watching the Jenkins logs.

As soon as the push for the foo-ui image completed, I saw the `INFO: Removing PodTemplate: foo-ui` in the Jenkins log. Definitely causation.

[2019-05-14 19:30] gabemontero commented on #307
@etoews the PR with the proposed fix is up and noted above if you are curious

also, if you all are able to try a pre-release version, I'm attaching one here
[sync-plugin-1.zip](https://github.com/openshift/jenkins-sync-plugin/files/3179498/sync-plugin-1.zip)

[2019-05-14 22:35] etoews commented on #307
@gabemontero Thanks! We're currently running with the simple workaround of renaming the foo-ui template to not conflict with other ImageStreams with the same name. e.g. `<name>foo-ui-jenkins-agent</name>` and `<label>foo-ui-jenkins-agent</label>` in our ConfigMap.

Unfortunately we'll have to wait for a released version to give it a go but am happy to do so once it's out.

[2019-05-14 22:38] etoews commented on #236
For anyone stumbling across this in the future, this is being resolved over in #307.

[2019-05-16 15:50] #307 closed

[2019-05-16 15:55] gabemontero commented on #307
I'll be cutting the new version of the sync plugin at the update center later today.

[2019-05-16 17:05] gabemontero commented on #307
v1.0.37 of the sync plugin has been initiated at the jenkins update center

[2019-05-16 17:11] gabemontero commented on #278
FYI ... I've gotten some tangential feedback from some users (including RH subscribers) with v1.0.35 and PodTemplates, and we seem to be good to date.

So I'll be pulling this into my next image update later today.  It will not be part of 4.1.0 GA, but will get into the z stream.

[2019-06-03 10:18] vfreex opened #312 "How should I migrate builds to a new OpenShift cluster?"
We are migrating our pipeline builds to a new OpenShift cluster. I tried copying build directories (/var/lib/jenkins/jobs) of the old Jenkins to the new Jenkins but those builds were deleted by the Sync plugin (because they are not associated with OpenShift build objects). Manually creating OpenShift build objects doesn't work with me, as using oc to create build objects doesn't seem to take effec

[2019-06-05 14:33] gabemontero commented on #312
It is not a scenario that has been considered @vfreex

And as an FYI, your manual attempt of creating builds didn't work because the sync plugin pruning logic compares the build UID saved in the job run against any builds it finds in the monitored namespace.  Your created build objects will have different UIDs so they won't be honored.

I suggest you open an RFE against "OpenShift Container Platfo

[2019-06-06 03:15] vfreex commented on #312
@gabemontero Thanks for the information.

[2019-06-14 07:45] waveywaves commented on #301
/assign

[2019-06-19 14:31] fitex commented on #190
@waveywaves Is there any progress on multibranch pipeline support for openshift 3.x as build strategy?

[2019-06-19 18:28] waveywaves commented on #190
@fitex I am in the process of completing the work of this. The main changes to the sync plugin have been done, other auxillary changes which include test cases and some errors which we are facing, are on their way to be committed.

[2019-06-19 18:29] waveywaves commented on #190
/assign waveywaves

[2019-06-19 18:39] gabemontero commented on #190
Also note we are currently in the 4.2 dev cycle.  This feature will initially be part of 4.2 GA

Backporting to the 3.11 z stream is not a given.  And if ever done, will be after some TBD amount of soaking in the 4.x stream.

[2019-06-26 15:05] andyfeller opened #315 "Document plugin handling of non-existent namespaces"
In administering the openshift-sync plugin usage, we've manually blocked changes to see if namespaces exist because we know the plugin doesn't handle non-existent namespaces, however we don't know if it will eventually recover when namespace is created.  Rather than scouring the underlying code and inferring the expectation, it would be more appropriate to document the official behavior.

[2019-07-02 17:22] mhp0rtal opened #316 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/io/fabric8/jenkins/openshiftsync/OpenShiftUtils.java: Line number => 553: API name => MessageDigest:First parameter (with value "MD5") should be any of {SHA-256, SHA-384, SHA-512}<BR> File name => src/main/java/io/fabric8/jenkins/openshiftsync/OpenShiftUtils.java: Line number => 553: API name => MessageDigest:<B

[2019-07-17 14:17] gabemontero commented on #312
for @akram and @waveywaves - either adding a config option to disable the pruning in build watcher or allowing for a job/run count that is way higher than the ttl's for openshift builds on the openshift side would be the implemenations options here

[2019-07-18 17:35] vfreex commented on #312
@gabemontero Sorry for late update on this.  I haven't bring a RFE yet. Is there any progress that you made? If no, I will create it.

[2019-07-18 19:55] akram commented on #312
Hi @vfreex

@waveywaves and I will put this with the subjects we will look at in the next weeks. @waveywaves is currently working on an RFE approaching your request, so we should propose you an implementation then.

/assign @waveywaves

[2019-07-19 04:23] vfreex commented on #312
@akram That'll be great! Thanks.

[2019-08-02 08:56] akram commented on #316
hi @mhp0rtal

The method is not used and will me marked as deprecated for removal in 2 releases.
Thank you for reporting this.

[2019-08-02 08:57] akram commented on #316
/assign @akram

[2019-08-07 04:47] waveywaves opened #326 "Plugin stops working with NPE wrt Namespaces in Openshift 4.x"
### Description

Shortly after Jenkins starts with jenkins-sync-plugin installed on Openshift 4.x where the corresponding version of kubernetes-client is being leveraged by the sync-plugin, the following errors can be seen.

1> The first one which we get is a `java.lang.NoSuchMethodError` error, which states that there is no method called io.fabric8.openshift.client.OpenShiftConfig.isDisableHostna

[2019-08-07 04:48] waveywaves commented on #326
I have a fix in mind for this. Will raise a PR in the meantime.

[2019-08-07 20:49] waveywaves commented on #326
This mostly seems like an edge case scenario. As I deployed another jenkins instance in a 4.2 cluster and tested it out with the same version of sync plugin as last time i.e. 1.0.41-SNAPSHOT.

Let's keep this on a watch in the meantime.

[2019-08-08 13:34] akram opened #328 "NPE on Jenkins restart/startup: io.fabric8.jenkins.openshiftsync.JenkinsUtils.deleteRun(JenkinsUtils.java:566)"
On Jenkins restart, we got the following NPE

[code]

[2019-08-24 11:32] waveywaves opened #332 "BuildToActionMapper is not populated"
While working on https://github.com/openshift/jenkins-sync-plugin/pull/325/ I noticed that [class BuildDecisionHandler](https://github.com/openshift/jenkins-sync-plugin/blob/master/src/main/java/io/fabric8/jenkins/openshiftsync/BuildDecisionHandler.java) and [class BuildToActionMapper](https://github.com/openshift/jenkins-sync-plugin/blob/master/src/main/java/io/fabric8/jenkins/openshiftsync/Build

[2019-08-24 11:43] gabemontero commented on #332
On Sat, Aug 24, 2019 at 7:33 AM Vibhav Bobade <notifications@github.com>
wrote:

BuildDecisionHandler is what allows you to trigger a pipeline build from
the jenkins console.

The jenkins core looks for extensions like it when you start a build from
the console.

You can’t get rid of it.

[2019-08-25 04:59] waveywaves commented on #332
@gabemontero Thanks for that :) I noticed that buildToCauseMap in https://github.com/openshift/jenkins-sync-plugin/blob/master/src/main/java/io/fabric8/jenkins/openshiftsync/BuildToActionMapper.java#L27 always returns an empty Map. And the only place it is called from is the BuildDecisionHandler. Shouldn't it also be populated during upsertBuild as that would be perfect time to update it based on

[2019-09-03 01:49] jianghaifeng opened #334 "the plugin conflicts with the "restart from stage" feature in Jenkins."
The "restart from stage" feature Jenkins provided works fine without this plugin, but when we have the openshift sync plugin enabled, everytime we "restart a build", we have a totally new build created, the build will checkout the latest codebase and all the context of the origin build get lost(including stash files).

[2019-09-03 09:11] akram commented on #334
Hi @jianghaifeng

could you please provide some logs of the Jenkins server so we can try to understand what is causing the issue?
Also, did you notice this with the latest release of the plugin or also with previous versions ?

/assign @waveywaves

[2019-09-03 10:07] jianghaifeng commented on #334
Hi @akram
Here is a simple jenkins pipeline to help you better understanding the issue.
def var = 1

pipeline {
    options {
        preserveStashes(buildCount: 50)
    }
    agent none
    stages {
        stage ('stage1') {
            agent any
            steps {
                script {
                    echo "var = ${var}"
                    echo "env.var = ${env.var}"

[2019-09-10 07:57] bendehaan opened #336 "Feature request: support for Jenkins scheduled pipeline trigger"
In similar fashion to the Jenkins scheduled pipeline, I would like to be able to automatically periodically trigger an OpenShift pipeline according to a cron(-like) specification.

The use case is for a security pipeline: long-running security jobs should not disrupt the regular build pipeline, and new security findings could arise in code that hasn't been touched for a while. A solution is to run

[2019-09-10 10:21] andyfeller commented on #336
@bendehaan : I agree it would be nice to configure a Jenkins job's build triggers via openshift-sync having just built something similar, however this is a little more difficult depending on whether you want to specify parameters and what happens in and around kicking off the build.

That being said, you don't have to build an image if all you need is to kick off a pre-existing `BuildConfig`; use

[2019-09-20 10:22] #301 closed

[2019-09-20 14:47] akram commented on #332
@waveywaves can we close this one?
It seems out-dated.

[2019-09-22 07:32] arielman opened #338 "Pipeline builds are been deleted"
For some reason in our subdomain pipeline, builds are getting deleted (even green ones).
I believe there are processes or flag in the openshift which causing this deletion, but so far couldn't find the proof for it.
We are using OpenShift Sync plugin version 1.0.37

[2019-09-23 07:18] akram commented on #338
Hi @arielman ,

I suggest you to backup your data and update to the latest version first and see if the bug is happening again.
Version 1.0.37 is quite "old" compared to latest version (1.0.41) and there have been several fixes issues about build deletions in the past.

[2019-09-23 07:20] akram commented on #336
@bendehaan as a more convenient exists for this case, I am closing the issue.
If you think that it may need better integration, let us know, so we can re-open it.

/close

[2019-09-23 07:20] #336 closed

[2019-09-23 07:57] akram commented on #328
/close

[2019-09-23 07:57] #328 closed

[2019-09-23 09:01] akram commented on #334
/assign @akram

[2019-09-23 09:11] andyfeller commented on #338
OpenShift `BuildConfig` resources have 2 fields that control the number of successful and failed `Builds` to keep with each of these defaulting to 5.  Without knowing more about the situation, check this out to make sure it isn’t your issue.

For more info: https://docs.openshift.com/container-platform/3.9/dev_guide/builds/advanced_build_operations.html#build-pruning

[2019-09-23 09:15] akram commented on #334
Hi @jianghaifeng,

I am reproducing it. Here are my steps:

[code]
Then
[code]
Then I set up the environment variable "var":
[code]

Then I start the build
[code]

[2019-09-23 09:48] akram commented on #334
and the logs are:
oc logs -f jenkins-<my-pod>
[code]

And the logs of the build inside Jenkins:
[code]

[2019-09-23 11:28] bendehaan commented on #336
@akram could you please enlighten me with regards to the more convenient solution or re-open this issue? The aforementioned solution is a workaround incurring additional (undesirable) complexity. If you have another solution, I would highly appreciate it if you could share it.

[2019-09-23 15:05] akram commented on #334
note for us, the pipeline used to reproduce the issue is not even using OpenShift DSL.

[2019-09-24 08:50] waveywaves commented on #326
Closed with info in #327

[2019-09-24 08:51] akram commented on #338
thanks @andyfeller ,
@arielman can you confirm that you are not in this case? if not, could you please provide more context so we can can investigate?

Thanks

[2019-09-24 08:57] arielman commented on #338
Currently, we see in the cluster, that in the openshift project, some builds are missing, and this is probably the root cause. We're trying to understand what deletes them, as per openshift team, they are not running any deletions on this cluster. we are checking with IT team what causing this manual deletion.

[2019-09-26 21:43] akram opened #344 "Upgrade com.fasterxml.jackson.core:jackson-databind to version 2.9.10 or later. For example:"
Per jenkinsci/openshift-sync-plugin upstream repo, a security issue requires to upgrade com.fasterxml.jackson.core:jackson-databind to version 2.9.10 or later.

[2019-09-27 07:08] akram commented on #338
@arielman can you clarify?
can you confirm that you are not in the case @andyfeller explained: You just have more than 5 builds done, and then OpenShift deletes them, and the sync plugin synchronises this state?

Could you please let us know if you think that it is still an issue related to the sync plugin?

[2019-09-30 09:26] extern-stamp-julian opened #345 "Injection of ssh private key into jenkins needs manual update to work"
Hi,

I am configuring a permanent ssh agent and for that purpose I want to inject the private ssh key from an openshift secret.
The yaml-file of my secret looks like this:

[code]

The injection works fine.

When I deploy the jenkins pod, the ssh agent does not manage to start. The error message is:

[code]

In order to get the connection working, I go to the credentials store in the Jenkins UI `h

[2019-09-30 15:32] akram commented on #345
Hi @extern-stamp-julian
could you please confirm me that you did:
[code]

[2019-10-01 09:27] extern-stamp-julian commented on #345
with the exact commands given I was not able to create the secret:

Instead I ran

[code]

Furthermore I added the data field "username" in the Openshift editor manually because this is required for the ssh connection.

The resulting yaml file in Openshift:

[code]

The outcome is the same:

[code]

[2019-10-04 05:15] extern-stamp-julian commented on #345
Is there anything else I could try?

[2019-10-04 08:44] akram commented on #345
We will investigate and try to reproduce ASAP on the latests versions. As your sayings, it looks like the "synchronisation job" is done well by the plugin, but there would be a kind of refresh issue in Jenkins.
If that's the case, we need to find a way to force refresh of the secret after the sync plugin inserted it by calling something in the Jenkins API for SSH secrets.

We need time to work on

[2019-10-04 08:44] akram commented on #345
We will investigate and try to reproduce ASAP on the latests versions. As your sayings, it looks like the "synchronisation job" is done well by the plugin, but there would be a kind of refresh issue in Jenkins.
If that's the case, we need to find a way to force refresh of the secret after the sync plugin inserted it by calling something in the Jenkins API for SSH secrets.

We need time to work on

[2019-10-10 16:41] akram commented on #344
/close

[2019-10-10 16:41] #344 closed

[2019-10-17 14:01] openshift-merge-robot opened #353 "Future Release Branches Frozen For Merging | branch:release-4.5 branch:release-4.4"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.5`
 - `release-4.4`

Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.slack.com/messages/CB95J6

[2019-10-17 18:22] akram commented on #332
/close

[2019-10-17 18:22] #332 closed

[2019-10-21 08:03] waveywaves commented on #315
Hello Andy ! Could you maybe give an example for this. Not sure if I understand it correctly.
/assign waveywaves

[2019-10-21 08:03] waveywaves commented on #315
/assign akram

[2019-10-22 21:42] andyfeller commented on #315
Hey @waveywaves,

There are 2 scenarios we've found where the openshift-sync plugin threads die and require an individual to re-save Jenkins configuration to restore them.

1. Syncing namespaces that don’t exist
2. Syncing namespaces that Jenkins doesn’t have access to

Whether the plugin could be updated to support these better or not, the plugin documentation should explain the expectations arou

[2019-10-25 16:59] jdcano-bpe opened #355 "Openshift Sync 1.0.42 breaks credentials synchronization (Openshift 3.9 - Jenkins 2.190.1)"
Hello,

Thanks for the great job you are doing.

I have a Jenkins 2.190.1 with the Openshift integration (version 3.9) and all works perfectly except the last upgrade of the OpenShift Sync 1.0.42. After the installation, Jenkins is not able to find the credentials anymore and then we can not fetch, build or access to the cluster anymore.

Would you need more information or replication? With the 1.

[2019-10-25 21:42] akram commented on #355
Hi @jdcano-bpe ,

thank you for reporting this issue. Indeed, if you have more informations, we are interested!
For which kind of credentials are you seing malfunction of synchronisation?

cc @waveywaves

[2019-10-28 10:43] jdcano-bpe commented on #355
Hello @akram

Thanks for your message.
We are having this problem with SSH credentials.

Just to clarify, I know that the problem is related or the plugin is involved in this issue because is the only one that is not updated, and when I update it the access to the credentials are broken. Once I downgrade all is working fine again.

The versions of the Git plugins are:
- Git Server 1.8
- Git client

[2019-10-28 11:16] akram commented on #355
@jdcano-bpe can you check if you are not facing this issue: https://github.com/openshift/jenkins-sync-plugin/issues/345 ?

We have been reported an issue with SSH credentials synchronisation not operated properly. If you try to edit and then save (without any change) the ssh credential, does it workaround the issue?

[2019-10-28 13:05] jdcano-bpe commented on #355
Hello,

Thanks for your quick answer. I actually did it, I just edit, add the usual SSH credential and save. But I still get the same error:

[code]
And with the scripts (groovy) to access to some repository I have the same error.

Thanks again.
Best regards,

[2019-10-29 10:17] akram commented on #345
Hi @extern-stamp-julian ,

I tried to reproduce the issue with no success by using a simple `git checkout ` which uses an SSH private key to checkout a private repo on git hub GitHub  .

I am using the version 1.0.41 of the sync plugin on an openshift 4.2 server.

Here is the test pipeline that I am using:
https://github.com/akram/pipes/blob/jenkins-sync-plugin-issue-345/Jenkinsfile

You can insta

[2019-10-29 14:18] akram commented on #355
Hi @jdcano-bpe ,

I tried with 1.0.42 and 1.0.43-SNAPSHOT of the sync plugin and I can't reproduce it.
Do you have the ability to try with 2.176.3 version of Jenkins ?

Also, here is a comment I put on another bug when I tried to reproduce what you are saying.
Can you try to reproduce also using this, even on 2.190 ?

I tried to reproduce the issue with no success by using a simple git checkout wh

[2019-11-05 10:51] jdcano-bpe commented on #355
Hello @akram

Sorry for my late answer. Answering to your questions:

- In our previous Jenkins installation, we were using the version 2.176.2 and 2.176.3 and in both cases I was having the same issue.
- I tried your Jenkinsfile and it does not works in our cluster.

But after some other tests, I think I found the problem:

- In my case, the SSH credentials in Openshift were created as **kubernet

[2019-11-05 14:31] akram commented on #355
@jdcano-bpe , ok, that gives more insights

Can you explain me this:

Also, you must notice that we automatically prefix the credential id with the project/namespace name. (unless you specify it through an annotation on the secret).

So, if you "follow my instructions" , then you should have found a credential in Jenkins named `<your-project>-cicd-openshift-ssh`

[2019-11-05 16:55] jdcano-bpe commented on #355
Thanks a lot for your answer.

From the tests I did in my environment, I came to that conclusion, because of the following:

- With the version 1.0.41 installed in Jenkins:
  - In my project (CICD), I created a key of type **kubernetes.io/ssh-auth** named **openshift-ssh**.
  - In Jenkins, in the credentials area, a new credential of type **SSH Username with private key** named **cicd-openshift-ss

[2019-11-05 16:57] rayanebel opened #359 "Jenkins 2.190.2 Git source secret not configured on jenkins pipeline"
Hello,

Currently I have a Jenkins instance running on Openshift with the `jenkins-sync-plugin` installed and configured. After that I tried to create my first pipeline using `BuildConfig` object that will fetch a `Jenkinsfile` in a remote private github repository (HTTPS). So to access to this private repository I have created a `basic-auth` secret and I include the reference to this secret in my

[2019-11-05 17:24] akram commented on #359
Hi @rayanebel

can you tell us how you create your basic secret ?

[2019-11-05 17:30] rayanebel commented on #359
Hi @akram

I have created my secret with this command :

[code]

This secret is deployed on the namespace where jenkins is running.

[2019-11-06 04:26] extern-stamp-julian commented on #345
Hi @akram,

thank you for getting back to me about this topic. I will try to test our setup with the same approach.

Unfortunately, since we do not maintain the OpenShift cluster and available Jenkins images ourselves I cannot test it on the same version as you were using:
* OpenShift Master: v3.11.129
* Jenkins: 2.164.2
* Sync plugin: 1.0.34

I  let you know right away with my findings.

[2019-11-06 14:04] rayanebel commented on #359
Hi @akram

Did you have time to investigate ?
Do you need additional informations ? Can I do something to unlock the situation and to allow me to continue my work on Jenkins ?

Thanks.

[2019-11-08 13:42] akram commented on #359
Hi @rayanebel
we have 2 other similar issues, we are preparing a fix

[2019-11-11 02:05] waveywaves commented on #359
I have tested this out with Jenkins 2.190.2
From my observations:-
1> The sourceSecret from the BuildConfig does not reflect in the Job.
2> Adding, applying and saving the sourceSecret manually will reflect. But, starting a new build will overwrite the Job itself leaving it with no sourceSecret

I am working on the fix for this. @rayanebel If possible, do continue working with the 1.0.41 version o

[2019-11-13 06:17] #359 closed

[2019-11-13 09:13] akram commented on #355
hi @jdcano-bpe

we have just released the 1.0.43 version which contains the fix for this one. Can you try it and confirm that it fixes your issue ?
thanks

[2019-11-13 17:18] jdcano-bpe commented on #355
Hello @akram ,

I updated to the 1.0.43 version. I ran the very same tests and we tested in our office working with this new version and all works fine and as expected. So, no errors and all is working fine!

Thanks a lot for your great job!!
Best regards,

[2019-11-13 17:18] #355 closed

[2019-11-13 18:19] akram commented on #355
good news , kudos to @waveywaves for the good catch

[2019-11-21 10:44] rayanebel opened #362 "Branch name (refSpec) in Job is not reflected to BuildConfig"
Hello,

Currently I have a Jenkins instance running on Openshift with the jenkins-sync-plugin installed and configured.

I have a `Jenkinfile` into a git repository in a specific branch called `rbe-tests` and I have created the following buildconfig to automatically create my pipeline configuration into my Jenkins instance:

[code]

As a result I have the following configuration on jenkins :

<img

[2019-11-21 11:06] akram commented on #362
/assign @waveywaves

[2019-11-25 03:04] openshift-merge-robot opened #363 "Future Release Branches Frozen For Merging | branch:release-4.5 branch:release-4.4"
The following branches are being fast-forwarded from the current development branch (master) as placeholders for future releases. No merging is allowed into these release branches until they are unfrozen for production release.

 - `release-4.5`
 - `release-4.4`

Contact the [Test Platform](https://coreos.slack.com/messages/CBN38N3MW) or [Automated Release](https://coreos.slack.com/messages/CB95J6

[2019-11-28 06:21] waveywaves commented on #362
@rayanebel Thanks for opening this.
Was this error present before ? Seems to me as a regression from the last fix we worked on.
Do give me some time to work on this.

[2019-11-28 06:56] akram commented on #362
tracked here: https://jira.coreos.com/browse/APPSVC-298

[2019-11-28 12:10] rayanebel commented on #362
@waveywaves I don't know because I didn't use jenkins with openshift before. I was recently faced to this issue.
Yes you can work on it. I will follow your comments on github and jira ticket that.

[2019-11-28 13:29] akram commented on #362
@rayanebel can you try with Openshift sync plugin: 1.0.**42** and see if you face the problem ?

[2019-12-02 15:27] rayanebel commented on #362
Hello @akram I can't downgrade plugin because I will be faced to the previous issue : https://github.com/openshift/jenkins-sync-plugin/issues/359 where my github secret is not synchronized on my project so build will not working. However, I can't reproduce the bug on my laptop. The bug appears on my jenkins deployed on Openshift and I don't know why Jenkins can't fetch latest commit.

I spawn Jenk

[2019-12-02 15:51] rayanebel commented on #362
@akram To make it working I have to connect to my jenkins pod, go into `JENKINS_HOME` persistent volume and delete manually the workspace according to my project. Then, when I launch a new job Jenkins will fetch latest commit and again block to this one. That's really strange..

[2019-12-05 11:59] martincandal commented on #362
@akram @waveywaves ,
I recently upgrade the OpenShift Sync plugin and I had the same issue. So, I downgrade to 1.0.42 and started to work fine again. The problem is in the version 1.0.43

[2019-12-05 23:46] akram commented on #362
/retitle Branch name (refSpec) in Job is not reflected to BuildConfig

[2019-12-05 23:49] akram opened #365 "Secret name (credential Id) in Job is not reflected to BuildConfig"
- Create a build buil1
- Create a secret source secret1
- Create a secret source secret2
- Annotate them
- Link the secret source to the build1
- Run the build and check that it works
- Un Jenkins job clic Configure, change the Job secret from to secret1 to secret2

Result:
- oc edit bc build1
=> the sourceSecret is still secret1

[code]

[2019-12-06 08:17] akram commented on #362
Hi @rayanebel or @martincandal
I have prepared the fix yesterday.
Can you build this branch and test it ?
https://github.com/akram/jenkins-sync-plugin/tree/fix-ref-branches-not-pulled

[2019-12-06 12:16] martincandal commented on #362
Hi,
I built and installed on my jenkins. Working for me now.
Thanks!

[2019-12-06 13:58] remi-debette commented on #362
Hi @akram, I work with @rayanebel .
You want us to try to build the jenkins plugin itself?
We do not know how to do that, any documentation on how to proceed?

Thank you

[2019-12-06 14:21] akram commented on #362
Hi @remi-debette

Based on @martincandal comments I will cut a release 1.0.44
thanks @martincandal

[2019-12-06 19:21] chriscarpenter12 commented on #203
Is it possible to get the `View Log` link to use the `openshift.io/jenkins-blueocean-log-url` value?

[2019-12-10 04:04] waveywaves commented on #365
I was able to reproduce this, credentialsId is not being reflected in the BuildConfig.

[2019-12-10 07:46] akram commented on #362
/close

[2019-12-10 07:46] #362 closed

[2019-12-10 21:02] #353 closed

[2019-12-10 23:42] martincandal opened #366 "Cannot get the user who run a pipeline"
I cannot find a way to get the user that trigger the pipeline in OpenShift from Jenkins. If I go to the console log of the executed job, it not shows the user that run it.
I am not using OAuth authentication. I have integrated OpenShift and Jenkins to Active Directory.

Thanks!

[2019-12-12 11:15] akram commented on #345
@extern-stamp-julian
can you try the latest 1.0.44 version of the sync plugin and tell us if it fixes the issue?

[2019-12-12 13:32] waveywaves commented on #366
@martincandal Could you send the logs over so we could check it out ?
Apart from that also explain more on how you have architected you Jenkins infra. Seems that the jobs are not being executed through the sync plugin from what you are saying.

[2019-12-12 17:21] martincandal commented on #366
Hi,
We recently moved out from the Jenkins that RedHat provides to Cloudbees Core, an Enterprise Jenkins.
We successfully configured the OpenShift Sync Plugin and OpenShift Client and all is working correctly.
Now, we want to take some metrics about the process, like the result of building an application, who performed the approval, etc. But we cannot find what users triggers a build. This is impo

[2019-12-13 08:05] rdepke opened #367 "Syncing proxy env vars overrides env vars"
**Before**
openshift-sync:1.0.42
We define the variables and they are present in the pods at runtime.

**After**
The environment variables are not available, but we see the proxy variables.

**Podtemplate**
[code]

We are defining environmet variables for our Jenkins slaves via XML pod template and define there environment variables. We noticed that those are no longer available in the pods.

Our

[2019-12-18 08:42] waveywaves commented on #367
@rdepke Thank you for letting us know. We will update you once this issue gets fixed.

[2019-12-18 08:43] waveywaves commented on #367
/assign

[2019-12-18 08:43] waveywaves commented on #367
/bug

[2019-12-18 08:43] waveywaves commented on #367
/label bug

[2019-12-18 08:44] waveywaves commented on #367
/label kind/bug

[2019-12-19 13:50] rdepke commented on #367
@waveywaves thank you for looking into that.

[2020-01-02 15:43] extern-stamp-julian commented on #345
@akram
I upgraded to the version 1.0.44 but that does not solve the issue.

I did not get to check whether the key is good for the ssh checkout as suggested yet. I will do that tomorrow.

[2020-01-03 09:47] extern-stamp-julian commented on #345
Hi @akram,

I tested the ssh checkout of a git repository and it is working just fine. I will try to contact the maintainers of the SSH Agent plugin about this topic. Thank you for your support!

[2020-01-03 09:47] #345 closed

[2020-01-03 13:21] akram commented on #345
That's a great news. Thank you for closing the issue.

[2020-01-13 05:46] lionelve commented on #326
Hi @waveywaves, do these fixes make it into the upstream plugin at https://github.com/jenkinsci/openshift-sync-plugin ?

[2020-01-13 05:56] waveywaves commented on #326
@lionelve Yes they do

[2020-01-13 09:54] akram opened #369 "JVM http_proxy env vars cannot be overridden in PodTemplate"
To reproduce:

1 - create a Jenkins instance using the openshift template
2 - set http_proxy and https_proxy environement
3 - the environment variables are reflected in -Dhttp_proxy and -Dhttps_proxy JVM parameters
4 - the environment variables are appended to PodTemplates configuration for all the agents PodTemplate
5 - edit http_proxy in the PodTemplate and set http_proxy => http://my-bogus-valu

[2020-01-13 15:09] #367 closed

[2020-01-15 13:26] savujevi opened #371 "Sync kubernetes.io/dockerconfigjson"
Hello developers,

is it possible to sync kubernetes.io/dockerconfigjson from OpenShift to Jenkins ?

Thank you for your help.

Best regards,
   Sascha Vujevic

[2020-02-04 20:27] martincandal opened #372 "Hanged Jobs"
Hi,
We are having problems with the openshift sync plugin (1.0.44) and CloudBees Core. Randomly, all buils start to queue on CloudBees and we have to restart the service to fix the problem.
I talked to CloudBees Support and the told me that the problem is the OpenShift Sync plugin. I their analysis, they found a large number of threads in waiting and blocked state (199 and 4) and the blocked threa

[2020-02-05 02:47] andyfeller commented on #372
Can you confirm:
number of namespaces being synced
what turning on logging for the openshift-sync plugin shows the threads are doing?

Sent from my iPhone

[2020-02-05 03:24] martincandal commented on #372
I have 35 namespaces. The attached logs came from the support bundle (i
think that is standard for jenkins and cloudbees) and the other log is
cbsupport, this is a tool from cloudbees support.

Thanks!
Martin

El El mar, 4 feb. 2020 a la(s) 23:47, Andy Feller <notifications@github.com>
escribió:

[2020-02-05 03:36] andyfeller commented on #372
Can you confirm what rolebindings the Jenkins service account has been granted in the synced namespaces including the policy around `jenkins` resource?

[2020-02-05 11:31] martincandal commented on #372
The jenkins account has the role edit in OpenShift.

Thanks!

El mié., 5 feb. 2020 a las 0:36, Andy Feller (<notifications@github.com>)
escribió:

[2020-02-06 08:13] akram commented on #372
Hi @martincandal ,
Based on your logs, it seem that you have 32 namespaces configured for sync not 25.
Can you check that  the jenkins service account has sufficient permissions on all of these?

Did you face the issue with a previous version of the sync plugin?

[2020-02-06 10:25] martincandal commented on #372
The SA has the edit role, I don’t know if is an standar role of openshift
or not. Can you describe the correct permissions?
Thanks!

El El jue, 6 feb. 2020 a la(s) 05:13, Akram Ben Aissi <
notifications@github.com> escribió:

[2020-02-06 13:08] andyfeller commented on #372
OpenShift comes with [default `ClusterRole` resource types](https://docs.openshift.com/container-platform/3.11/architecture/additional_concepts/authorization.html#roles) with pre-determined policy sets for various resource types.  For openshift/jenkins to fully synchronize with a namespace including `Secret` resources that are intended to be Jenkins credentials, whether due to being source secrets

[2020-02-06 13:21] martincandal commented on #372
I was checking the errors in the log, for example, this one:
io.fabric8.kubernetes.client.KubernetesClientException: buildconfigs.build.openshift.io is forbidden: User "system:serviceaccount:default:sa-devops-cross" cannot watch buildconfigs.build.openshift.io in the namespace "fnpp-pagoproveedores-dev": no RBAC policy matched

I checked the fnpp-pagoproveedores-dev and the SA sa-devops-cross has

[2020-02-06 13:28] andyfeller commented on #372
This error is the definition of a privilege issue:

Sent from my iPhone

[2020-02-06 13:36] martincandal commented on #372
Look the role of the user:
oc get rolebinding -n fnpp-pagoproveedores-dev
NAME                     ROLE                    USERS          GROUPS                                            SERVICE ACCOUNTS          SUBJECTS
admin                    /admin                  system:admin                                                     cicd/jenkins4
admin-0                  /admin

[2020-02-06 14:21] akram commented on #372
Assuming your jenkins instance is running in the namespace `default` and using the sa `system:serviceaccount:default:sa-devops-cross`
you will have to run:

[code]
and then replace `fnpp-pagoproveedores-dev` and do it for each project.

[2020-02-06 14:29] martincandal commented on #372
akram,
We are not running Jenkins inside OpenShift. We are running Cloudbees Core (Enterprise version of Jenkins) in a virtual server outside OpenShift.

[2020-02-07 10:19] andyfeller commented on #372
@martincandal interesting.  so when this plugin is used on a Jenkins instance running within the cluster, it assumes the Kubernetes identity of the service account running.  I don’t know off the top of my head how the Kubernetes plugin is configured when the instance is external.  I’d have to check that out but any information you have on that would help troubleshoot this.

[2020-02-15 19:51] waveywaves opened #373 "Bug 1800771: Pipeline doesn't reflect updated code from Jenkinsfile"
## Description of problem:
New code commited into gitlab isn't being picked up by jenkins pod

Version-Release number of selected component (if applicable): OpenShift Dedicated 3.11
Jenkins image. Latest update for OSD 3

## How reproducible:

100 %

## Steps to Reproduce:
1. Deploy a new-app with a Jenkinsfile on OCP
`oc new-app  https://gitlab.com/openshift-samples/node-example.git --strategy=pi

[2020-02-15 19:52] waveywaves commented on #373
/assign akram

[2020-02-17 11:15] waveywaves commented on #371
@savujevi From what I understand you would like existing docker credentials to be synced via the syn plugin to be used by you Jenkins Pipeline. You should be able to sync this secret using this plugin.
You would have to label the secret as done below to be picked up by the plugin.
`oc label secret test-secret credential.sync.jenkins.openshift.io=true`

[2020-02-17 11:37] savujevi commented on #371
As mentioned in the doku:
"kubernetes.io/basic-auth" map to Jenkins Username / Password credentials
"kubernetes.io/ssh-auth" map to Jenkins SSH User credentials

kubernetes.io/dockerconfigjson is missing as I can see. I have tested it and the secret will not be synced.

Thank you for your help.

[2020-02-18 19:26] akram commented on #373
This is fixed with 1.0.44
/close

[2020-02-18 19:26] #373 closed

[2020-03-09 13:50] martincandal commented on #372
Hi, any news about this?

[2020-03-29 11:22] svenstaro commented on #367
Any chance for a new release including this fix?

[2020-04-25 22:00] myron-randall commented on #366
If you are allowed to use plugins, have a look at this one: https://plugins.jenkins.io/build-user-vars-plugin/

[2020-05-28 18:09] diegocejas commented on #307
I have a similar issue, but in my case the agent was created in the Jenkis console.
It seems that with every reboot of the Jenkins pod, the agent is removed from config.xml (in my case is a dotnet 3.1 agent), although other kubernetes pod templates remain in the file.

Any ideas?

[2020-07-21 12:33] martincandal commented on #366
I found a workaround.
Thanks!

[2020-07-21 12:33] #366 closed

[2020-07-21 12:45] martincandal opened #379 "Problem with credentials"
Hi,
Few weeks back, I updated my jenkins masters to 2.235.1.2 and the OpenshiftSync plugin to 1.0.45. After that, I started with an issue with the openshift credentials. Randomly, the synchronization start to fail. In the logs, I see a problem with the credentials:

SEVERE: Failed to load BuildConfigs: io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: GET at: https://ocp-d

[2020-11-12 20:17] #312 closed

[2020-11-19 02:42] #334 closed

[2020-11-20 14:48] #315 closed

[2020-11-23 15:00] #365 closed

[2020-11-25 09:08] #369 closed

[2020-11-28 03:18] #371 closed

[2020-12-01 09:32] #372 closed

[2020-12-28 17:12] #379 closed

[2021-03-04 20:12] instagendleg opened #384 "Credentials randomly reseted, causing pipeline outages"
### Versions

[code]

### Debug Output

[code]

### Crash Output

[code]

### Expected Behavior

My credentials are tagged with `credential.sync.jenkins.openshift.io=true`, these are available a few seconds later in my Jenkins pipelines.

### Actual Behavior

Randomly (from my end-user perception), the credentials are wiped. Then, these come back randomly to be fully re-sync 30 minutes later.

###

[2021-03-05 09:02] akram commented on #384
thank you @instagendleg  for reporting this.
Could you please tell me also which version of OpenShift / kubernetes you are using?
And, do you see any `timeout` related error message in your logs prior to this erro?

[2021-03-05 09:21] instagendleg commented on #384
Hi @akram, here is:

[code]

[2021-03-05 13:37] instagendleg commented on #384
I also confirm there is no timeout during the 1-hour timeframe preceding the issue.

[2021-03-05 14:07] akram commented on #384
ok, re-reading your issue, I just seen that:

so, the 403 error code for buildconfig is expected, but is an issue is that, as a side effect your credentials got deleted and then recreated? Is that what you are telling?

I was checking if there was any global connection resets on the plugin side, but we don't have such a thing. IIRC, there is a caching mechanism in the `kubernetes-client` library t

[2021-03-05 15:05] instagendleg commented on #384
That's right. I except 403 errors from the plugin because I denied images & builds access permissions. And multiple times per day, all my Jenkins synchronized credentials are deleted then created progressively during the next 30 minutes.

[2021-03-08 16:48] instagendleg commented on #384
I got new debugging information. Now, my Jenkins instance is facing the same issue. I tested multiple credentials and in all cases, I see (I took the same credentials for the example, to match the credentials UUID):

[code]

Then, repeating every 5 seconds, with no errors surrounding:

[code]

I confirm that the credentials are not available from any pipeline neither in https://[jenkins-root]/cred

[2021-06-02 15:00] candalmartin opened #387 "no RBAC policy matched"
After upgrading the openshift-sync plugint from 1.0.45 to 1.0.46, the synchronyzartions started to fail with this error:

Failed to load ConfigMaps: io.fabric8.kubernetes.client.KubernetesClientException: configmaps is forbidden: User "system:anonymous" cannot watch configmaps in the namespace "my_test_namespace": no RBAC policy matched
Also:   java.lang.Throwable: waiting here
	at io.fabric8.kube

[2021-06-13 09:06] instagendleg commented on #384
Not fixed.

/remove-lifecycle stale

[2021-06-15 16:16] LEgregius opened #388 "Namespace stuttering in Jenkins build config path"
Description of problem:

Namespace stuttering in the jenkins job. The FullName is currently computed by `ns + / + bc`.  See https://github.com/openshift/jenkins-sync-plugin/blob/master/src/main/java/io/fabric8/jenkins/openshiftsync/OpenShiftUtils.java#L258

The customer asking if the namespace stuttering can be avoided e.g.
Currently you can see
foobar-namespace
  |- foobar-namespace/build-config-

[2021-06-30 14:35] nhomble commented on #371
/reopen

I'd be interested in this feature

[2021-07-26 16:39] hawkpatrick opened #392 "Initial sync not working any more"
**Description**
When jenkins starts it does not sync the existing openshift resources. This was the case in OpenShift Sync 1.0.46.

**Expectation**
During jenkins startup all resources are scanned and matches (having the required label) are addedto jenkins  if not present.

**First analysis**
The functionality seems to be broken since 1.0.47. The call of the init function is commented out, e.g. fo

[2021-07-27 08:06] akram commented on #392
Hi @hawkpatrick , thank you for reporting this.
In 1.0.47 we have move to an approach using `SharedInformer` implements of the kubernetes-client library. We noticed then that we receive a full list of existing objects on startup as add events, this is why calls to `onInit` methods have been commented out; as we fallback to the add case.

This was passing our QE tests and we were seeing correct syn

[2021-07-29 10:27] akram commented on #387
@candalmartin did you find the fix for that?
It is more likely to be related to a token that has expired or a misconfiguration.

[2021-07-29 10:37] akram commented on #384
@instagendleg we have released 1.0.47 and 1.0.48 which contains now a configuration parameter to disable sync on a per type basis. So, you can disable `BuildConfig` and  `ImageStream` syncing without removing the permissions on them.

Can you test one of these versions and tell me if you still see the issue with credentials not properly syncing when the jenkins ServiceAccount has its default permi

[2021-07-29 16:10] hawkpatrick commented on #392
Hi @akram,

thank you for the investigation.

Here are the logs you asked for:
[logAllFabricIo.txt](https://github.com/openshift/jenkins-sync-plugin/files/6901830/logAllFabricIo.txt)

The log output is filtered on "fabric8". If you need more information please let me know.

There is one line which could be a problem: "403=Forbidden!Configured service account doesn't have access" but I'm not sure w

[2021-07-30 13:50] DonKodiyan opened #394 "Configuration with CASC Plugin fails when using openshift-sync-plugin and openshift-client-plugin"
I'm using Jenkins with this image: quay.io/openshift/origin-jenkins:4.9.0
and using these plugins:
openshift-client:1.0.35
openshift-sync:1.0.48
configuration-as-code:1.51

When I try to configure jenkins using the CASC plugin, I'm getting this issue:
2021-07-30 12:38:25 WARNING io.jenkins.plugins.casc.impl.configurators.HeteroDescribableConfigurator handleDuplicateSymbols Found multiple implement

[2021-08-02 08:59] psimona commented on #394
This is a problem we are encountering too.

I suppose this has to do with the following classes:
- https://github.com/openshift/jenkins-sync-plugin/blob/master/src/main/java/io/fabric8/jenkins/openshiftsync/OpenShiftToken.java
- https://github.com/openshift/jenkins-sync-plugin/blob/master/src/main/java/io/fabric8/jenkins/openshiftsync/OpenShiftTokenCredentials.java

From your todo it seems you wan

[2021-08-02 13:03] akram commented on #394
Hi @DonKodiyan ,

is that a regression? In a sense of: were you using OpenShift Sync plugin in an older version and then this bug appeared after upgrade?
Or you are a new user of the plugin?

The pointed code base has been unchanged for a while, but we have made several changes recently in other parts and components. So, wondering if it is a regression or an old issue.

[2021-08-02 14:40] DonKodiyan commented on #394
Hi @akram
I'm a new user of this image: https://github.com/openshift/jenkins
Since both plugins are already preinstalled ( https://github.com/openshift/jenkins/blob/b45f39eb8ff3bb2c0769cf9db4ce9bb0f64f31c1/2/contrib/openshift/base-plugins.txt#L29 ) the issue pops up immediately when using CASC Plugin with openShiftToken credentials.

[2021-08-18 22:37] martincandal commented on #387
@akram we will stop using openshift-sync plugin. Is not stable for us.
Thanks!

[2021-10-15 04:48] akram commented on #392
Can you please update to 1.0.50 ?
We have fixed some regressions in it since then.

[2021-11-05 09:34] hawkpatrick commented on #392
We saw the same problem. Secrets and pod agent templates were randomly disappearing, very annoying. However this problem I believe came from the kubernetes plugin which triggered wrong events.

We currently are using an ugly workaround script: All resources that have a specific tag (e.g. for secrets it's credential.sync.jenkins.openshift.io=true) will get an update after jenkins startup by setting

[2021-11-10 14:29] trash-80 commented on #384
This issue matches the issue I put in 392
The latest update fails to init sync, then after a while, starts deleting credentials and sync'd Jenkins Agents.

[2021-11-12 21:36] #388 closed

[2021-11-14 09:41] chrisu001 commented on #392
Same Problem here with BuildConfigs.
Jenkins: 2.289.2 (ephemeral /var/lib/jenkins)
OpenShift Sync: 1.0.50
Kubernetes:  1.30.1
Kubernetes Client API Plugin. 5.4.1
Openshift: 4.9

Suggestion?:
on jenkins startup, the informer does not loop through all existing ressources (in our case secrets and BCs).
An update (oc apply..) on the resources with dummy-changes triggers the informer and the jenkins jo

[2021-11-15 21:41] chriscarpenter12 commented on #392
We're seeing the exact same behavior going from 4.7 jenkins container to 4.8. On start of the Jenkins pod there are no pod template config maps synced. Only the default maven and nodejs pod templates exist. Any edit of the existing config maps triggers a sync event, and the pod templates get added.

Jenkins 2.289.3
OPENSHIFT_BUILD_NAME jenkins-4.8-2
openshift-sync 1.0.50
kubernetes 1.30.1
kubernet

[2021-11-18 18:51] jzr1991 commented on #392
I'm seeing issues with version 1.0.48 of the sync plugin where secrets are disappearing. Similarly, if I delete the secret in Jenkins I'm sure the secret used to reappear but it no longer does.

The logs aren't helpful but I seem to see a lot of "resource version too old" with a watch closing, though I'm not certain this is the cause

[2021-11-19 14:52] adambkaplan commented on #392
Filed https://bugzilla.redhat.com/show_bug.cgi?id=2024933 to track this issue.

[2021-12-10 16:23] trash-80 commented on #384
/remove-lifecycle rotten

[2021-12-22 13:59] thikade commented on #392
saw exactly the same issue using versions:
Jenkins 2.303.3
openshift-sync 1.0.50

I then tried again using latest openshift-sync plugin v1.0.51 like Priti Kumari did in the aforementioned bugzilla https://bugzilla.redhat.com/show_bug.cgi?id=2024933#c5 , and it works again - at least for secrets and buildconfigs, which I am using.

[2021-12-30 16:21] #394 closed

[2022-01-16 04:31] #387 closed

[2022-01-21 15:43] chriscarpenter12 opened #414 "OpenShift Client Plugin Token Credentials Unusable"
**Description**
When using the sync plugin for OpenShift Client Plugin Token credentials they are unavailable to select from the Client Plugin configuration. Secrets are correctly synced to Jenkins credentials, but there's now two different credential types for `OpenShift Token for OpenShift Client Plugin` in Jenkins.

**Expectation**
Opaque secrets with data key `openshift-client-token` are avail

[2022-02-08 16:48] chriscarpenter12 commented on #414
Any official comment?

[2022-02-15 16:44] thikade commented on #414
This issue is really quite bad, I am seeing the same error as @chriscarpenter12.
Additionally, code using `openshift.withCredentials("credentialID")` no longer works.
The error reported for a simple `openshift.raw("whoami")` command is this:
[code]

The *bad* token is of the following type in credentials.xml, exactly as @chriscarpenter12 described:
`<io.fabric8.jenkins.openshiftsync.OpenShiftToken

[2022-02-15 16:47] thikade commented on #414
the implication of this error is that one can no longer sync secrets into openshift client plugin tokens to access external clusters! ... so a whole automation setup is now broken!

[2022-02-15 18:10] chriscarpenter12 commented on #414
@thikade Thank you! I felt like I was going crazy as the only person with this issue. I resorted to manually create the credentials in Jenkins for now and had to tweak our pipeline code as well. Frustrating

[2022-02-15 18:23] thikade commented on #414
We are using lots of ephemeral Jenkins instances that configure themselves on boot using casc-plugin. Worked like a charm ... until now. Maybe I can find the time to see if downgrading to an older client-plugin will fix it as a workaround...

[2022-02-15 18:42] akram commented on #414
@chriscarpenter12 and @thikade thank you for reporting this. I will open a bz for this to see how we can fix it.

cc @gabemontero

[2022-02-15 19:04] gabemontero commented on #414
seems like you need to undo https://github.com/openshift/jenkins-sync-plugin/commit/b8948a933b12ce21382d1e0a2fd64b5d281fc072#diff-431bed0f2f8fd5c62e9e129cc018a6d64e0f7a1f244b15719cc035b8e5e1b150 right @akram ?

On the surface I don't see how that had any bearing on switching the sync plugin to shared informers, right?

[2022-02-15 19:13] gabemontero commented on #414
Ah ... yeah, I could see how that could have cropped up.

yeah not knowing the particulars that lead to ^^, if it is not easily settled now that the dust has settled on the transition to shared informers, maybe there is a portion of code in either client or sync plugin that will need to be moved to a different repo both can share as a dependency.

heck, openshift/jenkins could even be a landing sp

[2022-02-15 19:15] akram commented on #414
Yes, I was thinking about a move like this, but it is another subject to discuss. Let's book a few minutes tomorrow

[2022-02-16 09:58] ndthang247 commented on #345
Hi @extern-stamp-julian

Have you solved the issue?
I'm facing the same issue but I don't know how to solve it.

[2022-02-22 11:39] akram commented on #414
@chriscarpenter12 and @thikade , there is a proposed fix by upgrading the jenkins-client-plugin.
Do you by anychance have the ability to compile a snapshot version from this branch:
https://github.com/akram/jenkins-client-plugin/pull/new/allow-openshift-sync-creds-as-possible-values ?
And test your entire use case?

[2022-02-22 11:54] akram commented on #414
@chriscarpenter12 and @thikade do you have the ability to test https://github.com/openshift/jenkins-client-plugin/pull/378 ?
The fix for this issue would go with an update of the openshift-client plugin
.

[2022-02-22 13:22] chriscarpenter12 commented on #414
Looks like the PR was just merged. Is there a snapshot version automatically built or do I need to build the hpi? When can we expect back port of this version to 4.8 branch of Jenkins [base-plugins.txt](https://github.com/openshift/jenkins/blob/release-4.8/2/contrib/openshift/base-plugins.txt)

[2022-02-22 16:06] thikade commented on #414
... not that easily, as our Jenkinses are ephemeral and the update requires a restart => I need to get the plugin into the image first.

[2022-02-22 16:46] gabemontero commented on #414
I will be initiating the new release of the client plugin after lunch US Eastern today.

Getting the plugin into the image is a much more laborious process.  And we cannot go directly to 4.8.  We have to
- update master branch (4.11 now) .... update the openshift/jenkins repo, but then work with our internal release team to cut RPMs for that OCP level
- update 4.10 (which is currently frozen) in t

[2022-02-22 16:50] gabemontero commented on #414
maybe end of this week but most likely next week to get the 4.8 image updated internally ... then it is a question of when the next 4.8 errata goes out, though I think those are still at a weekly cadence.  4.8.32 appears to have been in the pipeline for release for 6 days now.  If so, this would get in 4.8.33 or 4.8.34.

[2022-02-22 17:03] chriscarpenter12 commented on #414
Thanks for the update. I built the plugin locally and tested. The synced credential is now selectable in the global client config.

![image](https://user-images.githubusercontent.com/458486/155181265-a2c338fe-a25e-44ed-947e-1bc549358079.png)

openshift-client: 1.0.36-SNAPSHOT (private-d352d634-chris)
jenkins: 2.303.3

[2022-02-22 17:05] gabemontero commented on #414
thanks for the confirmation @chriscarpenter12

still getting up to speed from when @akram had to step away today

he in fact submitted v1.0.36 of the client plugin a few hours ago with https://github.com/jenkinsci/openshift-client-plugin/commit/9d4f2954737013e5339f531d0ec60118bb578a69 but it is not yet available at https://updates.jenkins-ci.org/download/plugins/openshift-client/

I will be monito

[2022-02-23 04:59] akram commented on #414
@gabemontero and @chriscarpenter12 ; I have just done the release of 1.0.36 which includes the fix.

[2022-02-23 04:59] akram commented on #414
@gabemontero and @chriscarpenter12 ; I have just done the release of 1.0.36 which includes the fix.

[2022-02-23 10:57] thikade commented on #414
@akram @chriscarpenter12 : I too can confirm that the synced credential is now selectable in the cluster config dropdown, but unfortunately my issue is not resolved by that fix. I still get _unauthorized_ when running `openshift.withCredentials("credentialID")`  with _credentialID_ being my synced Openshift client token ID.

credential used:
[code]

My test code is simply doing a `oc whoami` raw-c

[2022-02-23 11:05] akram commented on #414
/reopen

[2022-02-23 13:52] akram commented on #414
@thikade did you notice something special in the jenkins logs related to it?
Can you paste here?

[2022-02-23 14:01] chriscarpenter12 commented on #414
@akram I can confirm there's an issue with the `openshift` DSL too. We previously relied on using `openshift.withCluster('cluster-name')` to inherently get the correct credentials defined in the global config. With the synced credential set on my global config I too see failure when running the even simpler pipeline like  so:

[code]

![image](https://user-images.githubusercontent.com/458486/15533

[2022-02-24 11:03] thikade commented on #414
@akram
I rebuilt a persistent test Jenkins instance with our little test-case pipeline from above, with the small modification of adding "loglevel=9" to the raw cmd. What is interesting is that it behaves exactly the same when I use a really _non-existing credentialID_, so it would seem that `openshift.withCredentials` is not able to get the token value from Jenkins credential correctly. Using a m

[2022-02-25 00:27] akram commented on #414
Hi @thikade , I started to work on a fix and you are true that's happening [here](https://github.com/openshift/jenkins-client-plugin/blob/524cf63b131bd3ac27fbb43eb3ab7e9031146ea5/src/main/resources/com/openshift/jenkins/plugins/OpenShiftDSL.groovy#L148)  .
Let me share a branch with you asap so you can test this part of the fix.

[2022-02-25 00:54] akram commented on #414
a few quick notes for the reproduced:
[code]

[2022-02-25 10:12] thikade commented on #414
Thanks @akram !

Great! Yes, will do later this afternoon and send feedback.

[2022-02-25 11:18] akram commented on #414
<img width="1007" alt="image" src="https://user-images.githubusercontent.com/654449/155706449-0f00acc6-c906-46a9-ba73-4ee44c42fabc.png">
works for me with my latest changes.
I am awaiting confirmation from you @thikade and I will cut a new version if all your tests work then.

[2022-02-25 11:56] akram commented on #414
@gabemontero can you PTAL?

[2022-02-25 15:03] thikade commented on #414
Probably a typo? IMHO it should read   `... --from-literal=openshift-client-token= ...`

... else a Jenkins credential of kind: _Secret Text_ will be created (instead of kind: _OpenShift Token for OpenShift Client Plugin_  ) , which does not work and returns this error in pipeline log:
[code]

[2022-02-25 15:23] thikade commented on #414
@akram
Looks good! If I use `... --from-literal=openshift-client-token= ...` to create the secret it works now!

my testcases:  run pipeline code with different token types ...
- [x] synced token (of type `io.fabric8.jenkins.openshiftsync.OpenShiftTokenCredentials plugin="openshift-sync@1.0.53"`)
- [x] manually created token in Jenkins (of type `com.openshift.jenkins.plugins.OpenShiftTokenCredenti

[2022-02-26 02:15] akram commented on #414
ok, great @thikade , I will take into account the review of @gabemontero and push a new version then
regarding one of the option in the drop down list, I will investigate that in a later issue so we can fix the blocker now

[2022-02-28 14:05] #414 closed

[2022-03-22 19:41] trash-80 commented on #392
/remove-lifecycle stale

[2022-04-27 17:23] cglez1987 commented on #175
Hi @gabemontero. I wonder if this issue was solved cause we are having the same problem as @csrwng. Please this is a high priority for us. Thanks in advance.

[2022-04-27 18:56] gabemontero commented on #175
hi @cglez1987

first, there are multiple issues discussed in this relatively ancient issue :-)

In general, I *think* the curl/post/rc stuff was sorted out.  I've heard no discussion about this in quite a while.  I thought we got it working with work around that trello item, though we don't invoke jenkins from out internal prow anymore, so unless we have other customers using that, not sure how of

[2022-04-27 20:30] cglez1987 commented on #175
Thanks @gabemontero for your explanation. Unfortunately,  we are facing the issue with curl command returning 302 instead of 201. We are going to review again our versions and if we have a major version of the plugin, we'll open a support case with RH. Thanks again.

[2022-04-27 20:56] gabemontero commented on #175
sounds good

definitely include
- ocp version (including x.x.x granularity)
- jenkins version, in case you have upgraded jenkins after your last OCP upgrade)
- sync plugin version, in case you have upgraded after your last OCP upgrade)
- as much of the curl invocation as you can supply, as much of the rc processing as you can supply
- are you in fact using the jenkins pipeline build strategy

that

[2022-04-28 16:33] cglez1987 commented on #175
Hi @gabemontero. Really appreciate your dedication to this. We are going to open a ticket/support for this problem and in the meantime, we'll try to figure out a workaround possibly using that command. Thanks again and I'll keep you posted.

[2022-05-20 06:47] bakito opened #426 "openshift.io/jenkins-status-json causes errors for long pipelines with many steps"
I'm running some jenkins pipelines with many steps, where the Build resource in OpenShift never was set to Completed, although the Pipeline in jenkins is finished.

The reason for that is that the BuildSyncRunListener synchronizes all steps into the annotation openshift.io/jenkins-status-json of the build resource. For pipelines with a lot of steps this creates an overflow on kubernetes.

The Buil

[2022-05-20 08:42] bakito commented on #426
As far as I could see this annotation is used to display the build details in the OpenShift web console.
My pipeline hast 16 steps in which a lot of stage flow nodes are executed.

It would help a lot if the `stageFlowNodes` where not serialized to json.
I could not find out whether this information is needed by the web console.
The build details look the same, with `stageFlowNodes` and without.

[2022-08-18 17:12] #426 closed

[2022-08-20 08:00] #392 closed